form {
  display: flex;
  flex-wrap: wrap;
}

form .form-group {
  width: 100%;
}

.form-group {
  flex: 0 50%;
}

.form-group:nth-child(odd) {
  padding-right: 2.5%;
}

.form-group:nth-child(even) {
  padding-left: 2.5%;
}

.page-title {
  font-size: 1.5em;
  padding: 1em 0;
}